<p-card class="post-card">
    <img [src]="post().cover_image" onerror="
    this.onerror = null; this.src = '/imgs/file-error.jpg';
        " alt="{{ post().title }}" class="img-fluid post-img" />
    <p class="primary-text category">{{post().type_of}}</p>
    <div class="sub-category">

        <p>{{ post().title |maxLength:25}} </p>
        <i class="pi pi-arrow-up-right"></i>
    </div>
    <p class="desc">{{post().description}}</p>


    <div class="author">

        <p-avatar [image]="post().user.profile_image" class="mr-2" size="normal" shape="circle" />

        <div class="author-name">

            <p class="author-name">{{post().user.name}}</p>
            <small class="date">{{post().published_timestamp|date}}</small>
        </div>

    </div>
</p-card>